
@{
    ViewBag.Title = "Pregled kontakata";
}

<h2>Detalji</h2>

<div class="form-horizontal">
    <table id="osobe" class="table table-bordered">
        <thead>
            <tr>
                <th>OsobaId</th>
                <th>Ime</th>
                <th>Prezime</th>
                <th>Grad</th>
                <th>Svi brojevi</th>
                <th>Opcije</th>
            </tr>
        </thead>
    </table>
</div>

@Styles.Render("~/Content/Site.css",
    "~/Content/Font-awesome/css/font-awesome.min.css")
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/Custom/SviKontakti.js"></script>
